*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    width:100%;
    height: 100vh;
    background-color: black;
    font-family: sans-serif;
}
.container{
    width:800px;
    height: 100vh;
    margin: 0px auto;
    background-color: white;
     display: flex;
    justify-content: center;
    align-items: center;
   }
   .content{
    width: 300px;
    height: 300px;
    background-color:whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; 

  }
  h5{
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
  }
 p{
  
    text-align: center;
    font-size: 15px;
    margin-bottom: 30px;
  
}
input{
   width: 200px;
  
   margin-left: 50px;

   margin-bottom: 10px;
   padding: 10px 30px;

}
button{
    display: inline-block;
    width: 90px;
    margin-left: 200px;
   margin-top: 10px;
   padding: 10px 10px;
   color:white;
   background-color: blue;

}
