*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background-color: black;
}
.container{
    width: 800px;
    height: 500px;
    margin: 0px auto;
    margin-top: 90px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    width: 800px;
    display: flex;
     flex-direction: column;
    margin-left:30px;
    margin-right: 30px;
}
.content p{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    }
.content label{
    margin-bottom: 10px;
    font-size: 20px;
}
.content input{
    font-size: 15px;
    padding: 10px 10px;
}
.content select{
     font-size: 15px;
    padding: 10px 10px;
}
button{
    margin-top: 20px;
     font-size: 15px;
    padding: 10px 10px;
    background-color: blue;
    color:white;
}

