*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    background-color:grey;
    display: flex;
    justify-content: center;
   align-items: center;

}
.container{
    width: 600px;
    height:400px;
   background-color: whitesmoke;
   padding: 30px;
   
}
.content{
   display: flex;
   flex-direction: column;
   gap: 10px;
}
h1{
    text-align: center;
}
label{
    font-size: 20px;
}
input{
    padding: 8px;
    border:2px solid grey;
}
button{
    margin: 10px auto;
    display: block;
    padding: 10px 30px;
     border-radius: 55px;
     color:white;
     background-color: green;
     margin-top: 30px;
   
   

}