*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    width: 100%;
    height: 100vh;
    background-color: black;
}
.container{
    width: 1300px;
    height: 100vh;
    margin: 0px auto;
    background-color: blue;
}
.content{
    width: 800px;
    height:100vh;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: azure;
 }

 .first{
    display: block;
 }

